{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Событие — CityEvents" %}{% endblock %}

{% block content %}
{% trans "Событие" as brad_title %}
{% trans "Главная / События / Форма" as brad_subtitle %}
{% include 'partials/bradcam.html' with title=brad_title subtitle=brad_subtitle %}

<section class="section_padding form-section">
    <div class="container">
        <div class="apply_job_form white-bg">
            <h4>{% trans "Данные события" %}</h4>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="boxed-btn3 w-100" type="submit">{% trans "Сохранить" %}</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
